<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{{url_for('update_inventories')}}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" value="{{data['Product_ID']}}" name="Product_ID">
                    <div class="form-group">
                        <label> Quantity: </label>
                        <input type="text" class="form-control" name="Quantity" value="{{data['Quantity']}}">

                    </div>
                     <div class="form-group">
                        <button class="btn btn-primary" type="submit"> Update Data</button>
                    </div>
                </form>
</body>
</html>